@media only screen and (max-width:480px){       /* For Mobile Devices */
  .flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .flex-container > div{
    margin: 25px 60px;
  }
}
@media only screen and (min-width:481px){       /* For Desktop and Laptops */
  .flex-container{
    display: flex;
    justify-content:center;
  }
}

body{
  font-family: sans-serif;
  background-color:#EEEEEE;
}
h1{
  text-align:center;
  padding:50px;
}
.card1 {
    margin: auto;
    text-align: center;
    padding: 30px 10px;
    border: 1px solid #44d4ea;
    border-radius: 10px;
    cursor: pointer;
    background-color:#9af4e4;
  }
  .card2 {
    margin: auto;
    text-align: center;
    padding: 30px 10px;
    border: 1px solid #ff9400;
    border-radius: 10px;
    cursor: pointer;
    background-color:#efc68d;
  }
  .card3 {
    margin: auto;
    text-align: center;
    padding: 30px 10px;
    border: 1px solid #0065ff;
    border-radius: 10px;
    cursor: pointer;
    background-color:#a1c1f1;
  }

  .id1{
    padding: 2px 0px;
    margin:0px 75px;
    border-radius:3px;
    background-color:#44d4ea;
  }


  .id2{
    padding: 2px 0px;
    margin:0px 75px;
    border-radius:3px;
    background-color:#ff9400;
  }

  .id3{
    padding: 2px 0px;
    margin:0px 75px;
    border-radius:3px;
    background-color:#0065ff;
  }
  img{
    padding-top: 10px;
    width: 200px;
  }